.card__trash {
    background-image: url(../../../images/trash.svg);
    width: 18px;
    height: 19px;
    background-size: cover;
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    outline: none;
}

.card__trash:hover {
    cursor: pointer;
}