.auth__link {
  color: #ffffff;
  margin: 15px auto;
  padding: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  display: inline-block;
  width: 100%;
}
