.header {
    margin: 0 auto;
    padding: 0;
    max-width: 880px;
    width: 100%;
    border-bottom: 1px solid rgba(84,84,84,0.7);
}

@media (max-width: 880px) {
    .header {
        min-width: 320px;
    }
}